/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
@import "product";

:root{
  --main: #660000;
  --secondary: #3a3b49;
  --highlight: #4ad7b1;
  --white: #FFFFFF;
  --light: 74,215,177;
}

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
  max-width: 90%;
  margin: 0 auto;
}
.wrapper_padding{
  padding: 1em 0 4em 0;
}
.sm_wrapper{
   width: 80%;
   max-width: 760px;
   margin: 0 auto;}
.banner{

  background:var(--main);
}
.banner h1{
  color: var(--white);
  text-transform: uppercase;
  padding: 2em 0;
  margin: 0;
  font-size: 5em;
  line-height: .85;
}
.nav{
  background: var(--secondary);
}
.nav a, label{
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  margin-right: 2em;
}
.nav a:hover{
  color: var(--highlight);
}
label{
  margin-right: 0;
  border-right: 1px solid var(--highlight);
  padding-right: 1.5em;
}
.nav input[type="search"]
{
  background: transparent;
  outline: none;
  border: none;
  color: var(--white);
  font-style: italic;
  font-size: 1.25em;
  font-weight: 400;
  padding: 2em 1em;
  -webkit-appearance: none;
  -moz-appearance: none  ;
  appearance: none﻿;
}
body{
  background: var(--main);
}
.resources{
  padding: 0;
  margin: 0;
  list-style: none;
}
.resources li{
  overflow: hidden;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  width: 25%;
  float: left;
  display: inline-block;
  position: relative;
}
.resources li:hover img{
  transform: scale(1.5);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.resources li:hover .resource_info{
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}
.resources img{
  width: 100%;
  max-width: 100%;
}
 .resource_info{
  background: rgba(var(--light), 0.85);
  padding: 2em 10%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.resource_info h2{
  color: var(--white);
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.price{
  display: inline;
  font-weight: 700;
  padding-left: 1.5em;
  color: var(--main);
}
.button{
  border: 2px solid var(--white);
  padding: 1em 1.5em;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  transition: all .4s ease-in-out;
}
.button:hover{
  border: 2px solid var(--main);
  color: var(--main);
}

#main_footer{
 background: var(--secondary);
 position: fixed;
 bottom: 0;
 width: 100%;
 height: auto;
}

#main_footer .copyright{
  color: var(--white);
  float: left;
  font-size: .9em;
  margin: 0;}

#main_footer a{
  color: var(--white);
  text-decoration: none;}

#main_footer a:hover{color: var(--highlight);}

#main_footer nav{float: right;}

#main_footer nav i{
  color: var(--white);
  margin-left: 1em;
  padding-top: .2em;}

#main_footer nav i:hover{color: var(--highlight);}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner h1{
    font-size: 1.5em;
  }
  .nav a, label{
    font-size: .5em;
    margin-right: 1em;
  }
  .nav input[type="search"]
  {
    font-size: .5em;
    padding: .8em .5em;
  }
  label{
    margin-right: 0;
    padding-right: 1.5em;
  }
  .resources li{
    width: 100%;
  }
}
.img_wrapper{
  float: left;
}
.wrapper h2{
 color: var(--white);
}
.description{
  float: right;
}
.description p{
  color: var(--white);
}

.description .price{
  color: white;
  padding-right: 1em;
}

.description label{
  margin-right: 0;
  border-right: 1px solid var(--highlight);
  padding-right: 1.5em;
}
 .description input[type="Quanity"]
{
  background: transparent;
  outline: none;
  border: 1px solid var(--white);
  color: var(--white);
  font-style: italic;
  font-size: 1.25em;
  font-weight: 400;
  padding: 2em 1em;
}
.cart_btn{
  border: 2px solid var(--white);
  padding: 1em 1.5em;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  transition: all .4s ease-in-out;
}
.cart_btn:hover{
  border: 2px solid var(--highlight);
  color: var(--main);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .banner h1{
    padding: 1.5em 0;
    font-size: 3.5em;
  }
  .nav a, label{
    font-size: 1.1em;
    margin-right: 1em;
  }
  .nav input[type="search"]
  {
    font-size: 1em;
    padding: 1.5em .5em;
  }
  .resources li{
    width: 50%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  .banner h1{
    padding: 1.5em 0;
    font-size: 3.5em;
  }
  .nav a, label{
    font-size: 1.1em;
    margin-right: 1em;
  }
  .nav input[type="search"]
  {
    font-size: 1em;
    padding: 1.5em .5em;
  }
  .resources li{
    width: 41.66%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .resources li{
    width: 33.33%;
  }
}
