<!DOCTYPE html>
<html>
  <head>
    <title>Juiced & Drippin</title>
    <!-- Normalize HTML5 Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">

    <!-- styles.css Link -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
     <div class="wrapper">
       <h1>Juiced &amp; <br> Drippin</h1>
     </div>
   </div>
  <div class="nav">
    <div class="wrapper">
      <a href="#">Popular</a>
      <a href="#">Recent</a>
      <label for="search">Search</label>
      <input type="search" id="search" placeholder="Jordan 1 Retro Royal">
      <% if user_signed_in? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% elsif alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

    <%= yield %>

  <footer id="main_footer">
  <div class="wrapper">
  <p class="copyright"> &copy; 2018 Yakeshia Jenkins &amp; Designed by <a href="http://mackenziechild.me" target="_blank">Mackenzie Child</a></p>
  <nav>
      <a href="https://twitter.com/yakeshiajenkins" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/yakeshiaj" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://bitbucket.org/yakeshiaj" target="_blank"><i class="fab fa-bitbucket"></i></a>
      <a href="https://www.facebook.com/YaYaFoeShoo" target="_blank"><i class="fab fa-facebook"></i></a>
  </nav>
  </div>
</footer>
  </body>
</html>
